html {
    background-image: url(../img/1.jpg);
    background-color: rgba(0, 0, 0, 0.4);
    background-blend-mode: darken;
    background-attachment: fixed;
    background-size: cover;
}
body {
    width: 100%;
    height: 100%;
    background: 0;
}
/*h3 {
    text-align: center;
    margin-bottom: 30px;
}
form {
    border-radius: 10px;
    margin: 13% auto;
    width: 400px;
    padding: 20px 40px 20px 40px;
    background-color: rgba(255, 255, 255, 0.4);
}
.create {
    margin-top: 57px;
}*/
/*@font-face{
    font-family: first;
    src: url(../fonts/3.ttf);
}*/
.btn-default {
    margin: 5;
    width: 350px;
    font-size: 20pt;
    font-family: "Monotype Corsiva", bold;
}
.list {
    margin-left: 150px;
    margin-top: 50px;
    width: 360px;
    text-align: center;
    float: left;
}
.report {
    margin-right: 150px;
    margin-top: 50px;
    width: 360px;
    position: relative;
    float: right;
}